<div class ="container p-5 my-3 border" style="text-align: center">
  <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <div class="mb-3">
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </div>
    <div class="mb-3">
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </div>
    <div  class="mb-3">
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
    <div class="actions">
      <%= form.submit "Comment", class:"btn btn-secondary btn-block"%>
    </div>
  <% end %>
</div>
