<div class ="container p-5 my-3 border">
  <h1 class="text-center"><%= @article.title %></h1>

  <p class="text-center"><%= @article.body %></p>

  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
  </ul>
  <p>
    <%= link_to "creator: #{@owner.username}", "/users/show/#{@owner.username}"%>
  <p>
  <h2>Comments</h2>
  <%= render @article.comments %>

  <%if can_comment?%>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  <%else%>
    <h3>To coment this article, you should to follow at <%= @owner.full_name %></h3>
  <%end%>
</div>
